@model Users
<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href=" /">Home <span class="sr-only">(current)</span></a>|
      <a class="nav-item nav-link" href="numbers">Number</a>|
      <a class="nav-item nav-link" href="users">Users</a>
      <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>

<div class="tex-center">

@{
    if (Model.UserList.Count()==1 )
    {
        
        <h1>Here is a user!</h1>
        <h4>@Model.UserList[0].Firstname  @Model.UserList[0].Lastname</h4>
    }
    else
    {
        foreach( User user in Model.UserList )
        {
            <h4>@user.Firstname  @user.Lastname</h4>
        }
    }
}

</div>
